/*
Theme Name: Kinetika Child
Description: Child theme for the Kinetika for WordPress
Author: Tomasz Miotk
Template: kinetika
*/



@media only screen and (min-width: 1025px) {
    .container-wrapper {
        margin-left: 350px;
        margin-right: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .page-is-fullscreen .container-wrapper {
        margin: 0;
    }
    /* Front fullpage */
    .menu-is-vertical #slidecaption,
    .menu-is-vertical #static_slidecaption {
        left: 404px;
    }

    .mtheme-events-carousel {
        right: 150px;
    }

}

.container {
    padding-top: 80px;
    box-sizing: border-box;
}

.menu-is-vertical .vertical-menu-body-container {
    margin-left: 0px;
}

.vertical-menu {
    left: 50px;
    top: 50px;
    width: 240px;
    height: 600px;
    background-color: rgb(0,0,0,0.7);
}

.vertical-footer-wrap {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}


/*Goto button*/
#goto-top {
    bottom:50px;
    right:75px;

}

.sticky-menu-on .mtheme-fullscreen-toggle {
     display: block;
}

.footer-container {
    width: 100% !important;
    padding: 80px 0 0;
}

#footer h3 {
    padding: 10px 0 10px;
}
#footer .social-header-wrap {
    float: none;
     margin-top: 0;
}

@media only screen and (min-width: 1025px) {
    #footer .footer-tripple-column {
        width: 33%;
        float: left;
    }

    #footer .footer-tripple-column .footer-tripple-content {
        padding: 10px 30px 10px 30px;
    }

    #footer .footer-tripple-column .footer-tripple-header {
        padding: 10px 15px 0px 15px;
    }

    /*Fullscreen*/
    .mtheme-fullscreen-toggle {
        right: 75px;
        top: 75px;
    }
}

@media only screen and (max-width: 1024px) {
    #footer .footer-tripple-column {
        padding-bottom: 20px;
        text-align: center;
    }

    #footer .footer-tripple-column .footer-tripple-content {
        padding: 0px 30px 0px 30px;
    }

    #footer .footer-tripple-column .footer-tripple-header {
        padding: 0px 15px 0px 15px;
    }
    .mtheme-fullscreen-toggle,
    .header-cart-toggle {
        display: block !important;
    }

    .mtheme-fullscreen-toggle {
        right: 10px;
        top: 5px;
    }

    #goto-top {
        bottom: 5px;
         right: 10px;
    }

}

/* Social icons */
.widget.MSocial_Widget {
    text-align: center;
}

.page-template-template-fullpage .mtheme-supercell{
    width: 100%;
}


.bgimage-wrap {
    position: relative;
    top:0;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bgimage-wrap.-title {
    height: 500px !important;
    /*background-position: center center !important;*/
}



.wpcf7-form {
    font-weight: 300;
    font-size: 14px;
}

.wpcf7-form label{
    font-weight: 500;
    font-size: 14px;
}

.wpcf7-form p {
     text-transform: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.wpcf7-form input, .wpcf7-form textarea {
    border: 1px solid #ffffff6b;
    width: 70%;
}

span.wpcf7-list-item { display: table-row; }
span.wpcf7-list-item * { display: table-cell; }
span.wpcf7-list-item *:first-child { display: table-cell; width: 100px;}



.price-table {
    width: auto;
    margin: auto;
    border-spacing: 5px;
    border-collapse: separate;
}

    .price-table tr td{
        vertical-align: middle;
        border: none;
    }

    .price-table tr:hover {
        background-color: rgba(106, 106, 106, 0.7);

    }

        .price-cell {
            background-color: rgba(106, 106, 106, 0.5);
        }

            @media screen and (min-width: 751px) {
                .price-cell {
                    widht: 30%;
                }
            }
            .price-cell:hover {
                /*background-color: rgba(106, 106, 106, 0.7);*/

            }
            .price-cell .title {
                font-size: 2em;
                padding: 20px;
                text-align: center;
            }

            .price-cell .price {
                font-size: 3em;
                padding: 30px 0 30px 0;
                text-align: center;
            }

        .price-description {
            background-color: rgba(106, 106, 106, 0.3);

        }
            .price-description .small-info {
                font-style: italic;
                font-size: 0.8em;
            }


        .discount-cell {
            background-color: rgba(106,68,66,0.7);
        }
            .discount-cell .title {
                font-size: 2em;
                padding: 20px;
                text-align: center;
            }
        .discount-description {
            background-color: rgba(106,68,66,0.5);
        }

.price-table-explenation {
    padding: 20px;
}

@media screen and (max-width: 750px) {
    tbody, thead { float: left; }
    thead { min-width: 120px }
    td,th { display: block }
}

.content-text {
    padding: 20px;
}

.events-group ul {
    margin-left: 0!important;
}

.entry-content ul li, .entry-content ol li {
    margin-bottom: unset;
}



.cd-schedule {
    color: white;
}

.events-group ul{
    background-color: rgba(106, 106, 106, 0.3);
}

    .entry-content .cd-schedule ul, .entry-content .cd-schedule ol {
         list-style-type: none;
         list-style-position: none;
    }
    .entry-content .cd-schedule a {
        text-decoration: none;
    }
    .entry-content .cd-schedule a:hover {
        color: white;
    }


.regulamin-btn {
    margin-top: 0;
}
.regulamin-btn:hover {
    color: #000 !important;
}

.hero-title-wrapper {
    display: table;
    width: 100%;
    height: 500px;
}

.hero-title {
    display: table-cell;
    vertical-align: middle;
    font-size: 72px;

}